<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KyungwooKo Programming Study</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script>
      window.GitpleConfig = { appCode: "6FI1oKH2RNR4nfvHHM6xgZCM1W5q03" };
      !(function () {
        function e() {
          function e() {
            var e = t.contentDocument,
              a = e.createElement("script");
            (a.type = "text/javascript"),
              (a.async = !0),
              (a.src = window[n] && window[n].url ? window[n].url + "/inapp-web/gitple-loader.js" : "https://app.gitple.io/inapp-web/gitple-loader.js"),
              (a.charset = "UTF-8"),
              e.head && e.head.appendChild(a);
          }
          var t = document.getElementById(a);
          t ||
            (((t = document.createElement("iframe")).id = a),
            (t.style.display = "none"),
            (t.style.width = "0"),
            (t.style.height = "0"),
            t.addEventListener ? t.addEventListener("load", e, !1) : t.attachEvent ? t.attachEvent("onload", e) : (t.onload = e),
            document.body.appendChild(t));
        }
        var t = window,
          n = "GitpleConfig",
          a = "gitple-loader-frame";
        if (!window.Gitple) {
          document;
          var i = function () {
            i.ex && i.ex(arguments);
          };
          (i.q = []),
            (i.ex = function (e) {
              i.processApi ? i.processApi.apply(void 0, e) : i.q && i.q.push(e);
            }),
            (window.Gitple = i),
            t.attachEvent ? t.attachEvent("onload", e) : t.addEventListener("load", e, !1);
        }
      })();
      Gitple("boot");
    </script>
  </head>
  <body>
    <%- include('nav.html') %>

    <h1>KyungwooKo Programming Study</h1>
    <button type="button" class="btn btn-danger">Danger</button>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
